.nav-pills > li > a {
    color: #97DCF4;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    border-top-color: #0000;
    box-shadow: inset 0px -4px 0px #0672CB;
    color: #36A2E0;
    font-weight: 400;
}

.nav>li:not(.active)>a:active, .nav>li:not(.active)>a:focus, .nav>li:not(.active)>a:hover {
    background: none;
    color: #00FFD1;
    text-decoration: underline;
}

.patientselect .dropdown .bootstrap-select {
    height: 3rem;
}

.patientselect .dropdown {
    height: 40px;
    width: calc(100% - 1.5rem) !important;
    background: none;
    border: #36A2E0 1px solid;
}

.bootstrap-select > button {
    background: none !important;
    border: none !important;
    height: 100%;
    padding: .5rem 1rem;
    line-height: 1.5;
}

.bootstrap-select > button > span {
  color: #36A2E0 !important;
}

.bootstrap-select > button > .filter-option {
    color: #fff;
}

.patientselect .dropdown div.dropdown-menu, .patientselect .dropdown .dropdown-menu input {
    backdrop-filter: blur(.75rem);
    background: rgba(0, 45, 75, 0.05);
    box-shadow: 0px 2px 13px rgba(0, 45, 75, 0.8);
    border: 1px solid #36A2E0;
    border-radius: 1px;
    margin-top: .125rem;
    color: #fff;
}

.patientselect .dropdown .dropdown-menu .bs-searchbox > input {
    background: none;
    color: #fff;
    border-color: #36A2E0 !important;
}

.patientselect .dropdown .dropdown-menu ul, .patientselect .dropdown .dropdown-menu li {
    background: none;
}

.custom-table tr td {
    padding: .5rem 1rem;
}

.form-group {
    margin: auto 0 !important;
}

html {
    font-size: 14px !important;
}

.custom-box {
  padding: 1rem;
  border: 2px solid #004776;
  border-radius: 2px;
  background: linear-gradient(180deg, rgba(0, 45, 75, 0.25) 0%, #002D4B 57.96%),linear-gradient(135.8deg, rgba(1, 73, 121, 0.4) 1.36%, rgba(0, 45, 75, 0) 50.16%, rgba(0, 45, 75, 0.4) 100%);
  display: flex;
  flex-direction: column;
}

.box-header > .box-tools {
  top: calc(50% - 14px);
}

.drug .box-header h3 {
  display: none;
}

.box-tools button i {
  color: #00FFD1;
}

.drug .box-header.with-border {
  border-bottom: none !important;
}

.drug .box-body {
  padding: 0 0 10px 0;
}

iframe {
  height: 75vh;
}
